.header-container {
    background-color: white;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
  }
  
  .bold-black {
    font-weight: bold;
    color: black;
  }
  
  .dropdown {
    position: relative;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    top: 100%;
    left: 0;
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
    color: white;
  }
  
  
  
  